version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: postgres_db
    restart: always
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=$R3dh@t555
      - POSTGRES_DB=realstatedb
    ports:
      - "5432:5432" # Expone la BD a tu red local
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data: