openapi: 3.1.0
info:
  title: Realty Astarac API
  version: 1.0.0
  description: Contrato base para mobile app.
servers:
  - url: https://api.realtyastarac.com/api/v1
paths:
  /auth/login:
    post:
      summary: Inicia sesión
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Inicio de sesión exitoso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthTokens'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/refresh:
    post:
      summary: Renueva tokens
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenRequest'
      responses:
        '200':
          description: Tokens renovados
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthTokens'

  /properties:
    get:
      summary: Listado de propiedades
      parameters:
        - in: query
          name: page
          schema:
            type: integer
            default: 1
        - in: query
          name: limit
          schema:
            type: integer
            default: 20
        - in: query
          name: operation
          schema:
            type: string
            enum: [sale, rent]
        - in: query
          name: min_price
          schema:
            type: number
            format: double
        - in: query
          name: max_price
          schema:
            type: number
            format: double
      responses:
        '200':
          description: Lista paginada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyListResponse'

  /properties/{id}:
    get:
      summary: Detalle de una propiedad
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Propiedad encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Property'
        '404':
          $ref: '#/components/responses/NotFound'

components:
  schemas:
    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          format: password

    RefreshTokenRequest:
      type: object
      required: [refreshToken]
      properties:
        refreshToken:
          type: string

    AuthTokens:
      type: object
      required: [accessToken, refreshToken, expiresIn]
      properties:
        accessToken:
          type: string
        refreshToken:
          type: string
        expiresIn:
          type: integer
          description: Segundos restantes de validez del access token

    Property:
      type: object
      required: [id, title, price, operation, status]
      properties:
        id:
          type: string
        title:
          type: string
        description:
          type: string
          nullable: true
        price:
          type: number
          format: double
        currency:
          type: string
          default: GTQ
        operation:
          type: string
          enum: [sale, rent]
        status:
          type: string
          enum: [available, reserved, sold, rented, inactive]
        primary_image_url:
          type: string
          nullable: true

    PropertyListResponse:
      type: object
      required: [items, page, limit, total]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Property'
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer

  responses:
    Unauthorized:
      description: No autorizado
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Recurso no encontrado
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        code:
          type: string
